*{margin: 0;padding: 0;box-sizing: border-box}
body{font-family: 'Lato', sans-serif;  }
a{transition: .3s}
.fix{
    overflow: hidden;
}
.header-area{
    border-top: 5px solid #4272d7 ;
    min-height: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
ul{margin: 0;padding: 0;list-style: none}
.logo{
    float: left;
    margin-top: 25px;
}
.logo img{
    width: 50px;
    margin: 0;
    padding: 0;
}
.search-icon {
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
}
.search-icon:before{
    background: #cccccc;
    height: 15px;
    width: 2px;
    content: "";
    left: 0;
    top: 4px;

    position: absolute;
}
.main-menu{float: right}
.main-menu ul{
}
.main-menu ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
.main-menu ul li a{
    color: #666666;
    font-size: 15px;
    text-decoration: none;
    padding: 50px 0;
    display: block;
}
.main-menu ul li:hover> a{
    color: #4272D7;
}
.main-menu ul li ul.submenu {
    position: absolute;
    background: #171a21;
    top: 120%;
    width: 260px;
    left: 0;
    border-top: 5px solid #4272D7;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li{
    margin: 0;
    display: block;
    border-bottom: 2px solid #1e2128;
}
.main-menu ul li ul.submenu li a{
    color: #fff;
    padding: 15px 20px;
    font-size: 13px;
}
.main-menu ul li ul.submenu li:hover >a{
    background: #4272D7;
    padding-left: 30px;
}
.main-menu ul li ul.submenu li ul.submenu{
    top: 20%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}
.main-menu ul li ul.submenu li:hover >a{
    background: #4272D7;
}

/*slider area*/
.slider-area{
    width: 100%;
    overflow: hidden;
}
.single-slide{
    padding: 150px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.single-slide h4{
    color: white;
    font-size: 30px;
}
.single-slide h2{
    color: white;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single-slide a{
    color: white;
    background: #4272d7;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
}
.active-slide .owl-nav button.owl-prev{
    background: red;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
}
.active-slide .owl-nav button.owl-next{
    background: red;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
    right: 0;
    left:auto;
}

.active-slide .owl-dots button.owl-dot{
    background: red;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 100%;
}

.active-slide .owl-dots{
    text-align: center;
    margin-top: -21px;
    position: relative;
    z-index: 999;
    bottom: 30px;
}
.active-slide .owl-dots button.owl-dot.active{
    background: blue;
}