*{margin: 0;padding: 0;box-sizing: border-box}
body{font-family: 'Lato', sans-serif;  }
a{transition: .3s}
.fix{
    overflow: hidden;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.col-4{width: 33.33%;float: left;padding: 0 15px}
.col-8{width: 66.66%;float: left;padding: 0 15px}
.col-12{width: 100%;float: left;padding: 0 15px}
.header-area{
    border-top: 5px solid #4272d7 ;
    min-height: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
ul{margin: 0;padding: 0;list-style: none}
.logo{
    float: left;
    margin-top: 25px;
}
.logo img{
    width: 50px;
    margin: 0;
    padding: 0;
}
.search-icon {
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
}
.search-icon:before{
    background: #cccccc;
    height: 15px;
    width: 2px;
    content: "";
    left: 0;
    top: 4px;

    position: absolute;
}
.main-menu{float: right}
.main-menu ul{
}
.main-menu ul li{
    display: inline-block;
    margin-left: 40px;
    position: relative;
}
.main-menu ul li a{
    color: #666666;
    font-size: 15px;
    text-decoration: none;
    padding: 50px 0;
    display: block;
}
.main-menu ul li:hover> a{
    color: #4272D7;
}
.main-menu ul li ul.submenu {
    position: absolute;
    background: #171a21;
    top: 120%;
    width: 260px;
    left: 0;
    border-top: 5px solid #4272D7;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    z-index: 999;
}
.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li ul.submenu li{
    margin: 0;
    display: block;
    border-bottom: 2px solid #1e2128;
}
.main-menu ul li ul.submenu li a{
    color: #fff;
    padding: 15px 20px;
    font-size: 13px;
}
.main-menu ul li ul.submenu li:hover >a{
    background: #4272D7;
    padding-left: 30px;
}
.main-menu ul li ul.submenu li ul.submenu{
    top: 20%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}
.main-menu ul li ul.submenu li:hover >a{
    background: #4272D7;
}

/*slider area*/
.slider-area{
    width: 100%;
    overflow: hidden;
}
.single-slide{
    padding: 150px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.single-slide h4{
    color: white;
    font-size: 30px;
}
.single-slide h2{
    color: white;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single-slide a{
    color: white;
    background: #4272d7;
    text-decoration: none;
    padding: 20px 40px;
    display: inline-block;
}
.active-slide .owl-nav button.owl-prev{
    background: red;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
}
.active-slide .owl-nav button.owl-next{
    background: red;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 25px;
    right: 0;
    left:auto;
}

.active-slide .owl-dots button.owl-dot{
    background: red;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 100%;
}

.active-slide .owl-dots{
    text-align: center;
    margin-top: -21px;
    position: relative;
    z-index: 999;
    bottom: 30px;
}
.active-slide .owl-dots button.owl-dot.active{
    background: blue;
}

/*cta area start*/
.cta-area {
    padding: 30px 0;
    background: #4272d7;
}

.cta-text{}
.cta-text p{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
}
.cta-text p span{font-size: 30px}
.cta-button{ text-align: right;}
.cta-button a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 17px 45px;
    color: #fff;
    display: inline-block;
}

/*features area start*/
.features-area{
    margin: 70px 0;
}
.single-features{
    position: relative;
}
.single-features:hover .features-content{transform: translateY(0)}
.features-img{
}
.features-content{
    position: absolute;
    left: 0;
    top: 0;
    background: #4272d7;
    bottom: 0;
    padding: 30px;
    transition: .5s;
    transform: translateY(70%);
    overflow: hidden;
    margin-right: 11px;
}
.features-icon{
    margin-bottom: 25px;
}
.features-icon i {
    color: #fff;
    font-size: 16px;
    display: inline-block;
}
.features-icon h3 {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}
.features-content p{
    color: #e5e5e5;
    line-height: 20px;
}
.features-content a {
    color: #fff;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}

/*section area start*/
.section-title{
    text-align: center;
    margin-bottom: 80px;
}
.section-title h2{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.section-title h2:before{
    position: absolute;
    background: #222;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    right: 0;
    margin: auto;
}
/*service area start*/
.service-area{
    background: #f0f0f0;
    padding: 70px 0;
    padding-bottom: 20px;
}
.service-icon{}
.service-icon i{
    height: 50px;
    width: 50px;
    font-size: 26px;
    color: #fff;
    background: #4272d7;
    text-align: center;
    line-height: 50px;
}
.service-content{
    padding-left: 15px;
}
.service-content h3{
    color: #555555;
    font-weight: 700;
    margin-bottom: 15px;
}
.service-content p{
    font-size: 15px;
    color: #666666;
    line-height: 25px;
}
.single-service{
    display: flex;
    padding-bottom: 50px;
}